.stuff {
    font-family: 'Times New Roman', Times, serif;
};
.body {
  height: 100%;
}
.column {
  float: left;
  height: 100%;
  &#left {
    width: 10%;
    text-align: center;
  }
  &#middle {
    width: 80%;
  }
  &#right {
    width: 10%;
    text-align: center;
  }
}
.row { 
  float: top;
  &#top {
    height: 70%;
    text-align: center;
    //padding-bottom: 70%;
  }
  &#bottom {
    height: 30%;
    text-align: center;
    //padding-bottom: 30%;
  }
}

.dropdown {
  position: relative;
  display: inline-block;
  &:hover .dropdown:hover {
    display: block;
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  
}

